/*
	Simple reset inspired heavily by:  http://html5reset.org/
*/
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
article, aside, figure, footer, header, hgroup, nav, section {display: block;}
img, object, embed {max-width: 100%;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none;}
/* tables still need cellspacing="0" in the markup */
table {border-collapse: collapse; border-spacing: 0;}
th {font-weight: bold; vertical-align: bottom;}
td {font-weight: normal; vertical-align: top;}
hr {display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0;}
input, select {vertical-align: middle;}
pre {
	white-space: pre; /* CSS2 */
	white-space: pre-wrap; /* CSS 2.1 */
	white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
	word-wrap: break-word; /* IE */
}
a {margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent;}
button, input, select, textarea {margin: 0;}
button {width: auto; overflow: visible;}
.clearfix:before, .clearfix:after {content: "\0020"; display: block; height: 0; overflow: hidden;}
.clearfix:after {clear: both;}
.clearfix {zoom: 1;}
a:link {-webkit-tap-highlight-color: #fcd700;}

/*
	And the rest...
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, hr, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  font-family: "EB Garamond";
  text-shadow: 0 1px 0 #FFF;
  line-height: 1.5em;
  font-weight: normal;
  font-size: inherit;
  color: #222;
  -webkit-font-smoothing: antialiased;
}
strong,
strong sup {
  font-weight: bold;
}
sup {
  vertical-align: super;
  font-size: 0.75em;
}
em {
  font-style: italic
}
a {
  color: #186CB0;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
p {
  margin: 1em;
  color: #222;
  font-size: 1.25em;
}
section {
  text-align: center;
  padding: 2.5em 1em;
}

header img,
header .container {
  display: block;
  margin: 5em auto;
}
header .container,
section .container {
  max-width: 640px;
  margin: 0 auto;
}
header .venue {
  font-family: 'Montserrat', sans-serif;
  color: #222;
  font-size: 1.25em;
  line-height: 1.25em;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 1em;
  text-align: center;
}
header .location {
  font-family: 'Montserrat', sans-serif;
  color: #222;
  font-size: 1em;
  line-height: 1.25em;
  text-transform: uppercase;
  text-align: center;
}

#the-reception, #wedding-party, #directions {
  background: #f5f5f5;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  color: #222;
  margin: 0 0 2.5em;
}
h2 .icon {
  background-image: url('/static/images/iconography.png');
  background-size: 400px 40px;
  background-repeat: no-repeat;
  display: block;
  position: relative;
  height: 40px;
  margin: 0 auto 8px;
}
#the-reception h2 .icon {
  background-position: -200px 0px;
  width: 14px;
}
#our-story h2 .icon {
  background-position: -50px 0px;
  width: 28px;
}
#wedding-party h2 .icon {
  background-position: -250px 0px;
  width: 50px;
}
#registry h2 .icon {
  background-position: -100px 0px;
  width: 34px;
}
#directions h2 .icon {
  background-position: 0px 0px;
  width: 34px;
}

#the-reception hr {
  margin: 3em auto;
  width: 10em;
}

.calendar {
  margin: 0 auto;
}
.calendar h3 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom:6px;
}
.calendar .shadow-wrap {
  -webkit-b ox-shadow: 0px 10px 35px rgba(50, 50, 50, 0.25);
  -moz-b ox-shadow:    0px 10px 35px rgba(50, 50, 50, 0.25);
  box-sha dow:         0px 10px 35px rgba(50, 50, 50, 0.25);
}
.calendar tbody {
  background: #fff;
}
.calendar th {
  font-size: 12px;
  text-transform: uppercase;
  padding: 4px;
  font-family: 'Montserrat', sans-serif;
  color: #777;
}
.calendar th h3 {
  color: #222;
}
.calendar td {
  font-family: 'helvetica neue';
  padding: 4px 8px;
  height: 34px;
  width: 26px;
  border: 1px solid #ddd;
  text-align: right;
  font-size: 12px;
}
.calendar .weekend {
  background: #f5f5f5;
}
.calendar .wedding-day {
  background: #6EC1E1;
  border: 1px #6EC1E1 solid;
  color: #fff;
  font-weight: bold;
}
.calendar .prev-month,
.calendar .next-month {
  color: #777;
}

.images {
  margin: 2.5em auto;
}
.images img {
  display: block;
  top: 0px;
  margin: 0 auto;
  cursor: pointer;
}
.controls {
  margin-bottom: 0.5em;
}
.controls a {
  display: inline-block;
  height: 10px;
  width: 10px;
  background: #ddd;
  margin: 0 10px;
  border-radius: 10px;
}
.controls a:hover {
  text-decoration: none;
}
.controls .current {
  background: #aaa;
}

#wedding-party ul {
  list-style: none;
}
#wedding-party li {
  margin: 2em 0;
}
#wedding-party li img {
  height: 80px;
  width: 80px;
}
#wedding-party .role {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.675em;
  text-transform: uppercase;
  color: #777;
}
#wedding-party li p {
  font-size: 0.75em;
  margin: 0.25em 0;
}
#wedding-party .details {
  font-family: 'Montserrat', sans-serif;
  width: 460px;
}
#wedding-party .bridesmaid {
  text-align: left;
}
#wedding-party .bridesmaid img {
  float: left;
  margin-right: 10px;
}
#wedding-party .bridesmaid .details {
  float: left;
}
#wedding-party .groomsman {
  text-align: right;
}
#wedding-party .groomsman img {
  float: right;
  margin-left: 10px;
}
#wedding-party .groomsman .details {
  float: right;
}
#wedding-party .officiant {
  margin: 2em auto;
  width: 460px;
}
#wedding-party .officiant img {
  float: left;
  margin-right: 10px;
}
#wedding-party .officiant .details {
  margin: 0 auto;
  text-align: left;
  float: left;
  width: 370px;
}

#directions h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  text-transform: uppercase;
  text-align: left;
}
#directions ol {
  text-align: left;
  margin: 1em 0 2em 2em;
  font-size: 1.125em;
}
#directions .map {
  margin: 2em 0;
  display: block;
}

@media all and (max-width : 660px) {
  header img {
    width: 220px;
  }
  section .date,
  section .venue,
  section .location {
    font-size: 1em;
  }
  section hr {
    margin: 20px auto;
  }
  #reception .map {
    width: 320px;
  }
  p {
    margin: 1em 0.5em;
  }
}