{% extends "layout.html" %}

{% block title %}{{ super() }}{% endblock %}

{% block content %}
  <header>
    <img src="{{ url_for('static', filename='images/melanie-and-eric.png') }}">
    <div class="container">
      <div class="venue">Liberty Warehouse</div>
      <div class="location">Brooklyn, NY</div>
    </div>
  </header>

  <section id="welcome">
    <div class="container">
      <p>
        Hello!
        We're getting married!!
        We've created this website to help organize all the information you need for our big day.
        We can't wait to celebrate with all of our amazing friends and family this summer!
        Until then, take some time to explore our site. - M &amp; E
      </p>
    </div>
  </section>

  <section id="the-reception">
    <div class="container">
      <h2>
        <span class="icon"></span>
        The Reception
      </h2>
      <p>
        Please join us on <strong>July 11<sup>th</sup>, 2014</strong> to celebrate our wedding at <strong>Liberty Warehouse</strong> in Brooklyn, NY.
        The ceremony begins at <strong class="time">7pm</strong>.
      </p>
      <hr>
      <table class="calendar">
        <thead>
          <tr>
            <th colspan=7>
              <h3>July 2014</h3>
            </th>
          </tr>
          <tr>
            <th class="weekend">Su</th>
            <th>Mo</th>
            <th>Tu</th>
            <th>We</th>
            <th>Th</th>
            <th>Fr</th>
            <th class="weekend">Sa</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="weekend prev-month">29</td>
            <td class="prev-month">30</td>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td class="weekend">5</td>
          </tr>
          <tr>
            <td class="weekend">6</td>
            <td>7</td>
            <td>8</td>
            <td>9</td>
            <td>10</td>
            <td class="wedding-day">11</td>
            <td class="weekend">12</td>
          </tr>
          <tr>
            <td class="weekend">13</td>
            <td>14</td>
            <td>15</td>
            <td>16</td>
            <td>17</td>
            <td>18</td>
            <td class="weekend">19</td>
          </tr>
          <tr>
            <td class="weekend">20</td>
            <td>21</td>
            <td>22</td>
            <td>23</td>
            <td>24</td>
            <td>25</td>
            <td class="weekend">26</td>
          </tr>
          <tr>
            <td class="weekend">27</td>
            <td>28</td>
            <td>29</td>
            <td>30</td>
            <td>31</td>
            <td class="next-month">1</td>
            <td class="weekend next-month">2</td>
          </tr>
        </tbody>
      </table>
      <div class="clearfix"></div>
    </div>
  </section>

  <section id="our-story">
    <div class="container">
      <h2>
        <span class="icon"></span>
        Our Story
      </h2>
      <div class="images">
        <img src="/static/images/door.jpg">
        <img src="/static/images/mel-eric.jpg">
        <img src="/static/images/mel-eric-skyline.jpg">
        <img src="/static/images/mel-cameras.jpg">
        <img src="/static/images/mel-eric-side.jpg">
        <img src="/static/images/mel-eric-side2.jpg">
        <!-- <img src="/static/images/mel-eric-cam.jpg"> -->
      </div>
      <script src="//cdnjs.cloudflare.com/ajax/libs/zepto/1.0/zepto.min.js"></script>
      <script>
      (function () {
        var images = $(".images img"),
            controlsHolder = $("<div class='controls'></div>");
        for (var i = 0; i < images.length; ++i) {
          controlsHolder
            .append("<a href='#' data-index='" + i + "'>&nbsp;</a>");
          if (i !== 0) {
            images.eq(i).hide();
          }
        }
        $(".images").prepend(controlsHolder);

        var controls = $(".controls a");
        var current = 0;
        controls.eq(current)
          .addClass("current");

        controls.on("click", function (e) {
          e.preventDefault();
          var prevCurrent = current;
          current = $(this).data("index");
          if (prevCurrent == current) {
            return;
          }
          controls.eq(prevCurrent).removeClass("current");
          controls.eq(current).addClass("current");
          images.eq(prevCurrent).hide();
          images.eq(current).show();
        });
        images.on("click", function (e) {
          e.preventDefault();
          var prevCurrent = current;
          current += 1;
          if (current >= images.length) {
            current = 0;
          }
          swapImages(prevCurrent, current);
        });

        function swapImages (prev, curr) {
          controls.eq(prev).removeClass("current");
          controls.eq(curr).addClass("current");
          images.eq(prev).hide();
          images.eq(curr).show();
        }
      })();
      </script>
      <p>
        It's pretty hard for us to pin down exactly when we met, but we can both agree on our first memory of becoming friends.
        We were chosen to play in the very prestigous string quartet at Lakeside Elementary School.
        During our big preformance, Melanie hit a wrong note and cried in frustration.
        Eric continued playing and made it through the performance.
        It was the first time we worked on anything together and although it was a rocky start, we became, and stayed&nbsp;friends.
      </p>
      <p>
        Soon enough we were in high school, Eric had lost his baby fat, Melanie had a full set of braces, and the sparks flew!
        In 2003, Eric invited Melanie to watch his band play (yea Kingston12!) and she gleefully accepted.
        During the set Eric hooked his bass guitar up to a wireless amp, strolled over to Melanie and serenaded her.
        It was a little out of character for Eric to do something so outgoing, but it did the trick, and Melanie was smitten.
      </p>
      <p>
        We spent high school side by and side, and then in college, we decided on separate schools, cities, and states.
        But after those 5 years were over we decided enough was enough and we moved in together in NYC.
        Finally, after being friends for almost 16 years, dating for 10, and living together for 3, Eric popped the question on a beautiful rooftop in our NYC neighborhood.
        Surrounded by some of our amazing friends and family, we decided to make it offical!
      </p>
    </div>
  </section>

  <section id="wedding-party">
    <div class="container">
      <h2>
        <span class="icon"></span>
        Wedding Party
      </h2>
      <ul>
        <li class="bridesmaid maid-of-honor">
          <img src="http://images.ak.instagram.com/profiles/profile_8044236_75sq_1374935103.jpg">
          <div class="details">
            Allison Schwartz
            <div class="role">Maid of Honor</div>
            <p>
              College roomate, best friend, partner in crime, pseudo cousin.
              Excellent at running on no sleep, party planning, story telling and speech making.
            </p>
          </div>
          <div class="clearfix"></div>
        </li>
        <li class="groomsman bestman">
          <img src="/static/images/dylan.jpg">
          <div class="details">
            Dylan Waller
            <div class="role">Best man</div>
            <p>
              Younger Waller brother, excellent snowboarder, adventurer.
        Always orders the best thing on the menu, and consistently looks older than his older brother.
            </p>
          </div>
          <div class="clearfix"></div>
        </li>
        <li class="bridesmaid">
          <img src="http://images.ak.instagram.com/profiles/profile_18368774_75sq_1369026080.jpg">
          <div class="details">
            Jillian Waller
            <p>
              Youngest Waller sister, sassiest Waller sibling, most athletic, MVP of speeches at the engagement party, is currently a "southern girl" (hey Tulane!).
            </p>
          </div>
          <div class="clearfix"></div>
        </li>
        <li class="groomsman">
          <img src="/static/images/cameron.jpg">
          <div class="details">
            Cameron Breen
            <p>
              Younger Breen brother, beast in all things, middle american, fastest eater and drinker, most likely to weep openly at the wedding.
            </p>
          </div>
          <div class="clearfix"></div>
        </li>
        <li class="bridesmaid">
          <img src="http://images.ak.instagram.com/profiles/profile_14318412_75sq_1335113601.jpg">
          <div class="details">
            Nicole Fleisher
            <p>
              Best friend, sorority sister, bunny.
              Skills include creating desserts out of random fridge components, cheering everyone up and choregraphed dancing (includes, but is not limited to, the box step and reggaeton).
            </p>
          </div>
          <div class="clearfix"></div>
        </li>
        <li class="groomsman">
          <img src="/static/images/chad.jpg">
          <div class="details">
            Chad Burgess
            <p>
              Best friend, Seatgeeker, best repoire with all bartenders and baristas.
        Enjoys art of flight, snowboarding, carrying books in his pockets and all things Tupac.
            </p>
          </div>
          <div class="clearfix"></div>
        </li>
        <li class="bridesmaid">
          <img src="http://images.ak.instagram.com/profiles/profile_1364806_75sq_1381150849.jpg">
          <div class="details">
            Angela Amato
            <p>
              Best friend, college roomate, best cook, most italian, best hair, most likely to be coerced into doing hair and makeup for everyone in the room.
            </p>
          </div>
          <div class="clearfix"></div>
        </li>
        <li class="groomsman">
          <img src="http://images.ak.instagram.com/profiles/profile_6338560_75sq_1370006683.jpg">
          <div class="details">
            Cormack Glass
            <p>
              Best friend, old friend, fellow downtown dweller, Good Beer, Tuesday nights, friendliest, most focused on community building.
            </p>
          </div>
          <div class="clearfix"></div>
        </li>
        <li class="bridesmaid">
          <img src="/static/images/liz.jpg">
          <div class="details">
            Elizabeth Weiss
            <p>
              Best friend, oldest friend, Lakeside elementary schooler, family friend, doesn't mince words, was there since the beginning, hates flags.
            </p>
          </div>
          <div class="clearfix"></div>
        </li>
        <li class="groomsman">
          <img src="http://images.ak.instagram.com/profiles/profile_223207104_75sq_1361847879.jpg">
          <div class="details">
            Nikos Poulikidis
            <p>
              Yo, yo, yo, yo, yo.
              Best friend, Greek, most physically fit, most likely to get a dance party going, entrepreneur, most vivacious, fastest&nbsp;driver.
            </p>
          </div>
          <div class="clearfix"></div>
        </li>
        <li class="officiant">
          <img src="/static/images/richard.jpg">
          <div class="details">
            Richard Ellenson
            <div class="role">Officiant</div>
            <p>
              Last but certainly not least, Melanie's amazing uncle has agreed to become the officiant for our wedding.
              Richard is one of the most eloquent people we know and he's been such an important force in both of our lives.
              When we decided to get married, we were sure that we wanted our ceremony to be deeply personal and we knew that Richard was the perfect person to help us create the feeling and ceremony we wanted!
            </p>
          </div>
          <div class="clearfix"></div>
        </li>
    </div>
  </section>

  <section id="registry">
    <div class="container">
      <h2>
        <span class="icon"></span>
        Registry
      </h2>
      <a href="http://www.crateandbarrel.com/"><img style="width: 180px" src="/static/images/crate-and-barrel.png"></a>
      <hr style="width: 10em; margin: 2em auto">
      <a href="http://www.williams-sonoma.com/"><img style="width: 280px" src="/static/images/williams-sonoma.png"></a>
    </div>
  </section>

  <section id="directions">
    <div class="container">
      <h2>
        <span class="icon"></span>
        Directions
      </h2>
      <p>
        Our wedding will take place in Brooklyn, NY.
        We're so excited to have our wedding in the city that we call home, but we know many of you will be traveling to be with us, so we've planned some accomodations! 
      </p>
      <p>
        We recommend you stay in the New York Marriott at the Brooklyn Bridge.
        You can reserve a room by calling 1-718-246-7000.
        We've reserved a room block for our wedding guests, so just remember to say "Melanie and Eric" when you call!
      </p>
      <a class="map" href="https://maps.google.com/maps?daddr=Liberty+Warehouse%4040.676821,-74.0179397&t=m&z=14">
        <img src="http://maps.googleapis.com/maps/api/staticmap?visual_refresh=true&scale=2&zoom=12&sensor=false&size=640x360&markers=color:blue%7Clabel:S%7C40.676821,-74.0179397">
      </a>
      <h3>From Manhattan</h3>
      <ol>
        <li>Head southeast on The Brooklyn Bridge.</li>
        <li>Take the exit toward Bklyn-Qns Expy.</li>
        <li>Merge onto Cadman Plaza W/Old Fulton St.</li>
        <li>Continue onto Columbia St.</li>
        <li>Turn right onto Sackett St.</li>
        <li>Take the 1st left onto Van Brunt St.</li>
        <li>Turn right onto Beard St.</li>
        <li>Entrance will be straight ahead.</li>
      </ol>
      <h3>From Brooklyn Battery Tunnel</h3>
      <ol>
        <li>Take exit 26 to merge onto Hamilton Ave.</li>
        <li>Turn right onto Clinton St.</li>
        <li>Go 4 blocks and turn right onto Lorraine St.</li>
        <li>Go 5 blocks and turn left onto Dwight St.</li>
        <li>Go 4 blocks and turn right onto Beard St.</li>
        <li>Keep going Straight Ahead.</li>
      </ol>
      <h3>From Brooklyn or Long Island</h3>
      <ol>
        <li>Take Belt Parkway towards Manhattan to Hamilton Avenue (“Last Exit in Brooklyn”).</li>
        <li>Go straight at exit ramp and make a left on Van Brunt Street.</li>
        <li>Follow directions at top of page.</li>
      </ol>
      <h3>From Long Island Expressway</h3>
      <ol>
        <li>Take to Brooklyn Queens Expressway West towards Atlantic Avenue Exit.</li>
        <li>At light, make left onto Columbia Street.</li>
        <li>Follow directions at top of page.</li>
      </ol>
    </div>
  </section>
{% endblock %}
